a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
  color: rgb(59, 59, 59);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
  /* border: 2px solid red; */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(236, 236, 236);
}

.card-details {
  height: 60vh;
  padding: 3rem;
  margin: 0 auto;
}

.flag {
  width: 5rem;
}

h1 {
  text-align: center;
}
